body, div, p, h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 10px;
	position: relative;
}
h6 { font-size: 10px; }
h5 { font-size: 12px; }
h4 { font-size: 14px; }
h3 { font-size: 16px; }
h2 { font-size: 18px; }
h1 { font-size: 20px; }

h1.title {
	border-bottom: dotted 1px #ccc;
	padding-bottom: 5px;
}

body {
	margin: 0px;
}
div.page-top {
	height: 35px;
	width: 100%;
	background: #2D2D2D;
	color: #FFF;
	overflow: hidden;
}
div.page-top div.contents{
	width: 900px;
	margin: 0 auto;
}
div.page-top div.contents h1{
	padding: 0px;
	margin:  4px 0px 0px 0px;
	display: inline-block;
}
div.page-foot {
	border-top: solid 1px;
	border-color: silver;
	margin-top: 10px;
	padding: 5px 20px;
}
div.page-contents {
	width: 900px;
	margin: 0 auto;
}
div.page-featured{
	margin: 10px 0px 15px 0px;
}
div.page-featured-content{
	width: 900px;
	height: 250px;
	background: red;
	margin: 0 auto;
}
.panel {
	margin: 2px 2px 5px 2px;
	position: relative;
	top: 0px;
	bottom: 0px;
}
.panel .ui-widget-header{
	padding: 6px 10px 3px 7px;
	/*margin: 2px 2px 7px 2px;*/
	margin-bottom: 7px;
}
.panel .panel-contents{
	margin: 2px 2px 10px 10px;
}

.panel-dialog {
	padding: 6px 10px 3px 7px;
}

.block1, .block2, .block3, .block4, .block5, 
.block6, .block7, .block8, .block9, .block10 {
	float: left;
}

.block1 { width: 8.33%; }
.block2 { width: 16.66%; }
.block3 { width: 24.99%; }
.block4 { width: 33.32%; }
.block5 { width: 41.65%; }
.block6 { width: 49.98%; }
.block7 { width: 58,31%; }
.block8 { width: 66.64%; }
.block9 { width: 74.97%; }
.block10 { width: 83.3%; }
.block11 { width: 91.63%; }
.block12 { width: 99.96%; }

.blocks {
	overflow: auto;
	width: 100%;
}